<div ng-controller="dashController">
  <h1>Bid Now</h1>
<button ng-click="logout()">Logout</button>
<p>Hello, {{current_user.fname}}!</p>
<p>***************************************************</p>
<h2>Product 1</h2>
<p>***************************************************</p>
<p>{{error_max1}}</p>
<form ng-submit="bid(newBid, 1)">
  <input type="text" ng-model="newBid.amount">
  <input type="hidden" value="1" ng-model="newBid.item">
  <input type="submit" value="Bid">
</form>
<h4>Current Bids</h4>
<div>
  <p ng-repeat="bid in bids | filter: search_box1" ng-show="bid.item == 1">{{bid.bidder.fname}}: ${{bid.amount}}</p>

  <input type="text" ng-model="search_box1" placeholder="Search">

</div>

<p>***************************************************</p>
<h2>Product 2</h2>
<p>***************************************************</p>
<p>{{error_max2}}</p>
<form ng-submit="bid(newBid, 2)">
  <input type="text" ng-model="newBid.amount">
  <input type="submit" value="Bid">
</form>
<h4>Current Bids</h4>
<div>
<p ng-repeat="bid in bids | filter: search_box2" ng-show="bid.item == 2">{{bid.bidder.fname}}: ${{bid.amount}}</p>
  <input type="text" ng-model="search_box2" placeholder="Search">
  <p>************************************************</p>
</div>


<h2>Product 3</h2>
<p>***************************************************</p>
<p>{{error_max3}}</p>
<form ng-submit="bid(newBid, 3)">
  <input type="text" ng-model="newBid.amount">
  <input type="hidden" ng-value="3" ng-model="newBid.item">
  <input type="submit" value="Bid">
</form>
<h4>Current Bids</h4>
<div>
<p ng-repeat="bid in bids | filter: search_box3" ng-show="bid.item == 3">{{bid.bidder.fname}}: ${{bid.amount}}</p>
  <input type="text" ng-model="search_box3" placeholder="Search">
  <p>************************************************</p>
</div>
<p>{{end_error}}</p>
<button type="button" ng-click="end()">End Bid</button>
</div>
